.btn {
    padding: 10px 20px;
    background-color: white;
    color: #0b9dcf;
    border: 1px solid #0b9dcf;
    border-radius: 8px;
    transition-duration: 0.5s;
}

.btn:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
}