.btn {
    padding: 10px 20px;
    background-color: white;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    transition-duration: 0.5s;
    font-size: var(--font-size-m);
}

.btn:hover {
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
    background-color: var(--accent-color);
    color: white;
    border: 1px solid white;
}