.wrapper {
    width: 100%;
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 21px;
    background-color: rgba(243,243,243,0.74);
    border-radius: 5px;
}

.user {
    text-align: center;
    line-height: 50px;
    padding: 30px 0;
}

.user_img {
    padding: 7px;
}