.wrapper {
    width: 100%;
    border-bottom: 1px solid var(--accent-color);
    margin-bottom: 21px;
}

.user {
    text-align: center;
    line-height: 50px;
}

.user img {
    border-radius: 50%;
}