.form {
    width: 40%;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(#0b9dcf);
    padding: 13px;
    border-radius: var(--border-radius);
    padding: var(--padding-large);
}
input{
    padding: 8px 16px;
   
}
input:focus {
    outline: none;
}
label{
    color: var(--accent-color);
}
.input_box{
    display: flex;
    justify-content: center;
    align-items: center;
}