.skill_wrapper {
    display: flex;
    width: 100%;
    line-height: 29px;
    justify-content: space-around;
    padding: 7px;
}

.skill_item {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.delete_btn{
    background-color: white;
    border: none;
}
