.main {
  text-align: center;
  width: 80%;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding-bottom: 30px;
  max-width: 600px;
  margin: auto;
  margin-top: 5%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 7px;
}
.container_flex{
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: var(--font-size-l);
  padding-bottom: var(--padding-large);
}

h1>span{
  color: var(--accent-color);
}