.main {
  text-align: center;
  width: 80%;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0b9dcf;
  border-radius: var(--border-radius);
  padding: 30px 0;
}

.btn_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 7px;
}